src/MyEvents.Core/bin
src/MyEvents.Core/obj
src/MyEvents.EntityFrameworkCore/bin
src/MyEvents.Web.Core/bin
src/MyEvents.Migrator/obj
src/MyEvents.Web.Core/obj
src/MyEvents.Web.Host/obj
src/MyEvents.Web.Mvc/bin
src/MyEvents.Web.Mvc/obj
src/MyEvents.EntityFrameworkCore/obj
.vs/MyEvents/FileContentIndex
.vs/MyEvents/config
.vs/MyEvents/DesignTimeBuild
.vs/MyEvents/v17
.vs/ProjectEvaluation
src/MyEvents.Application/bin
src/MyEvents.Application/obj
src/MyEvents.Application/bin
src/MyEvents.Core/obj
src/MyEvents.EntityFrameworkCore/bin
src/MyEvents.Migrator/obj
src/MyEvents.Web.Core/bin
src/MyEvents.Web.Host/obj
src/MyEvents.Web.Mvc/bin
src/MyEvents.Web.Mvc/obj
src/MyEvents.Web.Core/obj
src/MyEvents.EntityFrameworkCore/obj
src/MyEvents.Application/obj
src/MyEvents.Core/bin
src/MyEvents.Web.Mvc/Properties/PublishProfiles
.vs/ProjectEvaluation
